<h1>Edit Note</h1>

{{#each errors}}
    <div class="alert alert-danger" role="alert">
        {{ text }}
    </div>
{{else}}

{{/each}}

<div class="card card-body">
    <form action="/notes/{{ note.id }}?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
            <label for="title">Note Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ note.title }}">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea name="content" id="content" cols="30" rows="10" class="form-control">{{ note.content }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary mr-3">Edit Note</button>
        <a href="/notes" type="button" class="btn btn-light">Cancel</a>
    </form>
</div>